body {
  background-color: #fbf7f3;
  font-family: "Quicksand";
  font-size: 0.9rem;
  color: #304a65;
}

nav {
  background-color: #304a65;
}

.navbar-light .navbar-nav .nav-link {
  color: #fbf7f3;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fbf7f3;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e1c4b4;
  opacity: 0.75;
}

.btn-secondary {
  color: #fbf7f3;
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary:hover {
  background-color: #97a9c1;
}

.btn-secondary:focus {
  background-color: #97a9c1;
  outline: none;
  border-color: transparent;
}

h1 {
  font-family: "Comfortaa";
  color: #a56072;
  text-align: center;
  font-size: 1.5rem;
}

p {
  text-align: justify;
}

.equipo {
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
  color: #a56072;
}

.punto-medio-img {
  max-height: 2rem;
}

.contact-card {
  background-color: #fbf7f3;
}

.foto-equipo {
  max-height: 6rem;
  max-width: 6rem;
  border-radius: 50%;
}

.principal h6 {
  font-size: 0.8rem;
}

.social-media {
  max-height: 1rem;
  max-width: 1rem;
}

.card-body a {
  text-decoration: none;
}

.btnFooter {
  border: solid transparent;
  border-radius: 1.25rem;
  background-color: #a56072;
  font-family: "Quicksand";
  color: #fbf7f3;
}

.btnFooter:hover {
  background-color: #304a65;
}

#primera,
#segunda,
#tercera {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
} /*Hace referencia a las imagenes del apartado 'Links de interes'*/

footer .border {
  background-color: #304a65d7; /*Es el color azul mas fuerte de la pagina, solo con un poco de transparencia*/
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer h3 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
}

footer p {
  color: #ffffff;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9 rem;
  padding-top: 1rem;
}

footer .col {
  padding-left: 3rem;
}
