body{background-color: #FBF7F3 !important;}

.follow h4 {
    margin:0.5rem;
}

.smallAvatar{
    border-radius: 50%;
    width: 3rem; 
    margin-right: 1.5rem; 
    margin-left:.5rem;

}

.OwnerPost{
    display: flex;
    align-items: center;
    min-height: 6vh;
    background-color: #c0c9d7;
    border-radius: 20px;
}

.list-group-item{
    background-color: #d7dfeb;
}

.list-group-item :hover{
    background-color: #a56072 ;
    color:#FBF7F3;
    border-radius: 20px;
    
}
.userName{
    font-family: 'Quicksand', sans-serif;
}

.follow{
    display:flex;
    font-family: 'Quicksand', sans-serif;
}

.followContainer{
    display: flex;
    justify-content: space-around;
}

