body{background-color: #FBF7F3 !important;}


.smallAvatar{
    border-radius: 50%;
    width: 3rem; 
    margin-right: 1.5rem; 
    margin-left:.5rem;

}

.OwnerPost{
    display: flex;
    align-items: center;
    min-height: 6vh;
    background-color: #f1dfd1;
    border-radius: 20px;
}
.OwnerPost :hover{
    background-color: #a56072 !important;

}
.list-group-item{
    background-color: #c0c9d7;
}

.list-group-item :hover{
    background-color: #304a65 !important;
}
.userName{
    font-family: 'Quicksand', sans-serif;
}


.follow{
    display:flex;
    font-family: 'Quicksand', sans-serif;
}

.followContainer{
    display: flex;
    justify-content: space-around;
}

