body {
    background-color: #FBF7F3 !important;
}

.bordeR {
    border-radius: 20px;
}

#imageContainer{
    padding-top: 3vh;
}
.OwnerPost {
    display: flex;
    align-items: center;
    min-height: 6vh;
}

.userName {
    display: inline;
    align-items: center;
    
}

.userName h3 {
    
    margin: 0 0 0 0;
    color: #304a65;
}

.anchor {
    color: #d7d6d8;
    text-decoration: none;
}

.smallAvatar {
    border-radius: 50%;
    width: 3rem;
    margin-right: 1.5rem;
}

.comment {
    border-radius: 10px;
    background-color: #adbcd0;
    margin: 1rem;
    padding: .5rem;
    max-width: 90vw;
}

.btn {
    font-family: 'Quicksand', sans-serif;
    color: #FBF7F3;
    margin: .5rem;
    background-color: #a56072;
    border-radius: 20px;
    border: none;
    outline: none;
    width:8.5rem;
}

.btn:hover {
    background-color: #304a65;
    color: #FBF7F3;
} 

.btn:focus{
    outline: none;
}


.title {
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: #a56072;
    font-family: 'Comfortaa', cursive;
}

.titleFont {
    font-family: 'Comfortaa', cursive;
    color: #304a65;

}

.buttonContainer{
    display:flexbox;
    text-align: center;
    margin:auto;
    
}

.btn, .btn-sm, button,.form-control:focus{
    outline: none;
    box-shadow: none;
    border: none;
    border:solid #e1c4b4;
    
}
.buttonContainer button:focus{
    outline: none;
    box-shadow: none;
    border: none;
    border:solid #e1c4b4;

}


.structureText {
    font-family: 'Quicksand', sans-serif;
    color: #304a65;
}

.form-floating{
    outline: none;
}
.form-control{
    background-color: #d7d6d8;
    outline: none;
    box-shadow: .03rem .4rem .9rem #5f5d5d;
}

@media screen and (min-width: 750px) {
    .col-md-8 {
        margin: auto;
    }
}

@media screen and (max-width: 760px) {
    #imageContainer{
    padding:2vh;}

    .card-body{
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        margin: auto;
    }

}