
body{
        background-color: #FBF7F3;
        margin-top: 20px;
    }


    
    nav {
      background-color: #304a65;
      }
      
      .navbar-light .navbar-nav .nav-link {
      color: #fbf7f3;
      }
      
      .navbar-light .navbar-nav .nav-link.active {
      color: #fbf7f3;
      font-weight: 700;
      }
      
      .navbar-light .navbar-nav .nav-link:hover {
      color: #e1c4b4;
      opacity: 0.75;
      }
    
    .container-fluid{
      background-color: #304A65;
    }

    .reactionsContainer{
        display: flex;
        text-align: center;
        background-color: #a56072;
        border-radius: 20px;
        max-height: 15%;
    }


    .reactionButton {
        background-color: #a56072;
        border: none;
        margin: 1vh;
        width: 32%;
    }
    
    .reactionButton :hover {
        background-color: #304a65;
        border-radius: 50%;
    }
    
    .reactionButton button {
        background-color: #a56072;
        border: none;
        padding: 0;
        margin: 0%;
    }

    #like:hover {
        color: red;
        width: 2rem;
        height: auto;
    }
    
    #dislike:hover {
        color: gray;
        width: 2rem;
        height: auto;
    }
    
    #comment:hover {
        color: green;
        width: 2rem;
        height: auto;
    }

    .btn-primary {
        background-color: #a56072;
        border-radius: 1.25rem;
        width: 8.5rem;
        margin-top: 1rem;
        border-color: unset;
        font-size: 0.9rem;
        font-weight: bold;
      }
      
      .btn-primary:hover {
        background-color: #304a65;
        border-color: unset;
      }
      
      .boton-publicar .btn-primary:focus {
        outline: none;
        box-shadow: none;
      }

    /* .text-certification{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: -50%;
    }

    .text-certification:hover .lock1 {
        visibility: visible;
        opacity: 1;
        top: -130%;
    } */

    .row.heading h2 {
        color: #fff;
        font-size: 52.52px;
        line-height: 95px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 40px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
    }
    .heading.heading-icon {
        display: block;
    }
    .padding-lg {
        display: block;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .practice-area.padding-lg {
        padding-bottom: 55px;
        padding-top: 55px;
    }
    .practice-area .inner{ 
         border:1px solid #999999; 
         text-align:center; 
         margin-bottom:28px; 
         padding:40px 25px;
    }
    .carousel .cnt-block:hover {
        box-shadow: .03rem 0.4rem 0.9rem #5f5d5d;
        border: 0;
    }
    .practice-area .inner h3{ 
        color:#3c3c3c; 
        font-size:24px; 
        font-weight:500;
        font-family: "Quicksand";
        padding: 10px 0;
    }
    .practice-area .inner p{ 
        font-size:14px; 
        line-height:22px; 
        font-weight:400;
    }
    .practice-area .inner img{
        display:inline-block;
    }
    
    .carousel .cnt-block{ 
       float:left; 
       width:100%; 
       background:#fff; 
       padding:30px 20px; 
       text-align:center; 
       border:2px solid #d5d5d5;
       margin: 0 0 28px;
    }
    .carousel .cnt-block figure{
       width:148px; 
       height:148px; 
       border-radius:20%; 
       display:inline-block;
       margin-bottom: 15px;
    }
    .carousel .cnt-block img{ 
       width:148px; 
       height:148px; 
       border-radius:20%; 
    }
    .carousel .cnt-block h3{ 
       color:#2a2a2a; 
       font-size:20px; 
       font-weight:500; 
       padding:6px 0;
       text-transform: none;
    }
    .carousel .cnt-block h3 a{
      text-decoration:none;
        
    }
    .carousel .cnt-block h3 a:hover{
        color:#337ab7;
    }
    .carousel .cnt-block p{ 
       color:#2a2a2a; 
       font-size:13px; 
       line-height:20px; 
       font-weight:400;
    }
    .carousel .cnt-block .follow-us{
        margin:20px 0 0;
    }
    .carousel .cnt-block .follow-us li{ 
        display:inline-block; 
        width:auto; 
        margin:0 5px;
    }
    .carousel .cnt-block .follow-us li .fa{ 
       font-size:24px; 
       color:#767676;
    }
    .carousel .cnt-block .follow-us li .fa:hover{ 
       color:#025a8e;
    }

.profile-page .profile-header {
    box-shadow: .03rem 0.4rem 0.9rem #5f5d5d;
    border: 1px solid #f2f4f9;
}

.profile-page .profile-header .cover {
    position: relative;
    border-radius: .25rem .25rem 0 0;
}


.profile-page .profile-header .cover figure {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover figure {
        height: 110px;
        overflow: hidden;
    }
}

@media (min-width: 2400px) {
    .profile-page .profile-header .cover figure {
        height: 280px;
        overflow: hidden;
    }
}

.profile-page .profile-header .cover figure img {
    border-radius: .25rem .25rem 0 0;
    width: 100%;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover figure img {
        -webkit-transform: scale(2);
        transform: scale(2);
        margin-top: 15px;
    }
}

@media (min-width: 2400px) {
    .profile-page .profile-header .cover figure img {
        margin-top: -55px;
    }
}

.profile-page .profile-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.profile-page .profile-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
    border-radius: 20%;
    width: 100px;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover .cover-body .profile-pic {
        width: 70px;
    }
}

.profile-page .profile-header .cover .cover-body .profile-name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
}

.profile-page .profile-header .header-links {
    padding: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
}

.profile-page .profile-header .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-page .profile-header .header-links ul li a {
    color: #000;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active {
    color: #727cf5;
}

.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
    color: #727cf5;
}

.profile-page .profile-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row {
    margin-right: 0;
    margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 6px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure img {
    border-radius: .2rem;
}

.rtl .profile-page .profile-header .cover .cover-body .profile-name {
    margin-left: 0;
    margin-right: 17px;
}
.img-xs {
    width: 37px;
    height: 37px;
}
.rounded-circle {
    border-radius: 20%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.btn-edit-profile{
    background-color: #304A65;
}

.btn-links{
    background-color: #304A65;
    text-decoration: none;
    box-shadow: none;
    border-radius: 5px;
    border: solid 1px;
    max-height: 25px;
    justify-content: space-evenly;
    text-align: center;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}
.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
    border-radius: 0 0 0 0;
}
.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}

.grid-margin {
    margin-bottom: 1rem;
}

.card {
    box-shadow: .03rem 0.4rem 0.9rem #5f5d5d;
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.rounded {
    border-radius: 0.25rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
}

.spaceFooter {
    margin-left: 4rem;
    margin-top: 30rem;
  }
  
  footer .border {
    background-color: #304a65d7;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  footer h3 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 1rem;
  }
  
  footer p {
    color: #ffffff;
    text-align: justify;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
  }
  
  footer .col {
    padding-left: 3rem;
  }

