#primera, #segunda, #tercera{
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
} /*Hace referencia a las imagenes del apartado 'Links de interes'*/

#logotipo{
    height: 3.75rem;
    width: 17.1875rem;
    margin: auto;
    display: block;
} /*Hace referencia al logo que se encuentra en la parte superior del border*/

.border{
    background-color: #304a65d7;/*Es el color azul mas fuerte de la pagina, solo con un poco de transparencia*/
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

h3{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding-top: 2rem;
}

p{
    color: #ffffff;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625rem;
    padding-top: 2rem;
}

.col{
    padding-left: 3rem;
}

.footer{
    background-color: #304a65d7;
}

nav {
    background-color: #304a65;
    }
    
    .navbar-light .navbar-nav .nav-link {
    color: #fbf7f3;
    }
    
    .navbar-light .navbar-nav .nav-link.active {
    color: #fbf7f3;
    font-weight: 700;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
    color: #e1c4b4;
    opacity: 0.75;
    }