body{
    background-color: #FBF7F3;
}

#contenedorlogo{
width: 225px;
height: 60px;
padding-left: 57px;
padding-top: 1%;
}

#primeracolumna{
    
    font-family: Quicksand;
    color: #304A65;
    
}
#h2B{
    padding-top: 70%;
    padding-left: 10%;
}
#h2U{
    padding-left: 10%;
}


#inicioS{
    padding-top: 40%;
    text-align: center;
    color: #A56072;
    font-weight: bold;
    font-family: Comfortaa;
    
    
}

#forminicio{
    padding-bottom: 20%;
    padding-top: 0%;
    font-family: Quicksand;
    color: #304A65;
    font-size:20px;
    font-weight: bold;
}


#forminicio2{
    padding-top: 30%;
    padding-right: 10%;
    font-family: Quicksand;
    color: #304A65;
    font-size:20px;
    font-weight: bold;

}
#botonenviar{
background-color:#A56072; 
border-color: #A56072;  
color: #FBF7F3;
padding: 2%;
padding-left: 12%;
padding-right: 12%;
border-radius: 20px; 
font-weight: bold;


}

#p1{
    padding-left: 15%;
    padding-top: 20%;
    color: #A56072;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    }

    

/*estilos de validacion---------*/

/*.forminicio__grupo-incorrecto{
    color:red;
}**/