body{
    background-color: #FBF7F3;
}

#contenedorlogo{
width: 225px;
height: 60px;
padding-left: 57px;
padding-top: 1%;
}

#primeracolumna{
    
    font-family: Quicksand;
    color: #304A65;
    
}
#h2B{
    padding-top: 70%;
    padding-left: 10%;
}
#h2U{
    padding-left: 10%;
}


#inicioS{
    padding-top: 40%;
    text-align: center;
    color: #A56072;
    font-weight: bold;
    font-family: Comfortaa;
    
    
}

#forminicio{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-bottom: 10%;
    padding-top: 1.1rem;
    height:auto;
    border-radius: 1.25rem;
    font-family: Quicksand;
    color: #304A65;
    font-size:20px;
    font-weight: bold;
    background-color: #97a9c1bd;
    box-shadow: .03rem 0.4rem 0.9rem #5f5d5d;
}


#forminicio2{
    padding-top: 30%;
    padding-right: 10%;
    font-family: Quicksand;
    color: #304A65;
    font-size:20px;
    font-weight: bold;

    
}
/*#botonenviar{
background-color:#A56072; 
border-color: #A56072;  
color: #FBF7F3;
padding: 2%;
padding-left: 12%;
padding-right: 12%;
border-radius: 20px; 
font-weight: bold;


}*/

#p1{
    padding-left: 15%;
    padding-top: 20%;
    color: #A56072;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    }


    .form-control{
        border-radius: 0.5rem;
        background-color: #d7d6db;
        }
    

        .btn-primary {
            background-color: #a56072;
            border-radius: 1.25rem;
            width: 8.5rem;
            margin-top: 1rem;
            border-color: #97a9c1bd;
            font-size: 0.9rem;
            font-weight: bold;
            
            
            }

            .btn-primary:hover {
                background-color: #304a65;
                border-color: #97a9c1bd;
              }

              .boton-publicar .btn-primary:focus {
                outline: none;
                box-shadow: none;
              }
            
/*estilos de validacion---------*/

/*.forminicio__grupo-incorrecto{
    color:red;
}**/