* {
    box-sizing: border-box;
}

.body{
    background-color: #fbf7f3;
}
.navbar{
    margin-bottom:2vh; 
}

.brandImageSection{
    background-color: bisque;
    height:15vh;
}
.brandImagePicture{
    width: 100%;
    height: 15vh;
    object-fit: fill;
}
.userProfile{
    display: flex;
    width: 100%;
    height: 40vh;
    margin: auto;
    
}
.entrepreneurDescription{
    height:inherit;
    background-color: #fbf7f3;
    width:30%;
    text-align: center; 
    padding:2vh; 
    
}

.userImageContainer{
    height: auto;
    width: 100%;
    max-height: 35vh;
}
.userImage{
    max-width:100%;
    max-height:inherit;
    object-fit: contain;
    border: 1px black;
}
.user{
    max-height:12.5%;

}

.starSection{
    display:flex;
    max-height: 5%;
}

.star{
    display: inline;
    width: 20%;
}

.starImage:hover{
    background-color: yellow;
}
.starImage{
    height: 1rem;
    width: 1rem;
}

.star button {
    border:none;
    background-color:#fbf7f3;
}

.brandDescription{
    height: inherit;
    background-color: #fbf7f3;
    width:70%;
    padding:2vh;
     
}

.brandTextDescription{
    word-wrap:break-word;
    overflow: auto;
    /*border: 5px black solid;*/
    padding: 1rem;
    background-color: #c0c9d7;
    text-align: center;
    justify-content: center;
    max-height: 35vh;
}

.newPostSection{
    height: 6vh;
    min-height: 4vh;
    background-color: #fbf7f3;
    text-align: center;
    margin:2vh;
}

.newPostButton{
    background-color: #a56072;
    width: 15%;
}

.productsPosted{
    background-color: #fbf7f3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.soloProduct{
    height: auto;
    width: auto;
    padding:1rem;
}

.imageNreactions{
    background-color:#f1dfd1;
}
.imageContainer{
    max-width: 95%;
    max-height: 95%;
    margin:auto;
    padding: 1vh;
}

.productImage{
    width: fit-content;  
    object-fit: fill;
    display: block;
    margin: auto; 
    max-width:100%;
    height: auto;
}   


.reactionsContainer{
   display:flex;
   text-align: center;
   background-color:#a56072;
   border-radius: 0% 0% 20px 20px;
   max-height:20% ;
}

.reactionButton{
    background-color: #a56072;
    border:none;
    margin: 2vh 0;
    width: 32%;
    
}

.reactionButton button{
    background-color: #a56072;
    border: none;
    padding: 0;
    margin: 0%;
}

.reactionLogo{
    height: 2vh;
    width:2vw;
}

#like:hover{
    background-color: red;
}

#dislike:hover{
    background-color: gray;
}

#comment:hover{
    background-color: green;
}


.productDescription{
    margin-top: .5rem;
    background-color: #c0c9d7;
    padding: 1rem;
    min-width: 10rem;
}

.border{
    border-radius: 20px;
}

.fontText{
    font-family: 'Quicksand', sans-serif;
}

.fontTextTitle{
    font-family: 'Comfortaa', cursive;

}

@media screen and (max-width:420px) {
    .productDescription{
        display:none;
    }
    .soloProduct {
        margin:0;
        padding:0;
        border-radius: 0;
    }
    .imageNreactions{
        padding:0;
        margin: 0;
        border-radius: 0;
    }

    .imageContainer{
        padding:0;
        margin: 0;
        border-radius: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .productImage{       
        border-radius: 0;
    }

    .reactionsContainer{
        padding:0;
        margin: 0;
        border-radius: 0;
        max-height: 7vh;
    }

    .brandImageSection{
        max-height: 10vh;
    }
    .userProfile{
        max-height: 25vh; 
        padding: 0;
    }

    .brandTextDescription{
        height: 24vh;
    }

    .reactionButton{
        margin:0;
    }


    .reactionButton button{
        height: 4vh;
        width: 4vw;
    }

    
    




}
