
body{
    background-color: #fbf7f3;
}

.container{
    min-width: 800px;
}

.brandImageSection{
    background-color: bisque;
    height:100px;
}

.brandImagePicture{
    width: 100%;
    height: 120px;
    object-fit: fill;

}

.userProfile{
    display: flex;
    background-color: tomato;
}
.entrepreneurDescription{
    background-color: aqua;
    height: 300px;
    width:35%;
    min-width: 250px; 
    
    text-align: center; 
}

.userImage{
    width: fit-content;
    border: 1px black;
    max-block-size: 210px;
}

.starSection{
    border: 1px black;
    
}

.brandDescription{
    background-color: aquamarine;
    height: 300px;
    width:65%;
    min-width: 500px;
}

.text{
    height: 280px;
    word-wrap:break-word;
    overflow: auto; 
}

.newPostSection{
    height: 4vh;
    background-color: #fbf7f3;
    text-align: center;
    padding:1vh;
}
.productsPosted{
    background-color: cadetblue;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    flex-wrap: wrap;
}

.soloProduct{
    background-color: rgb(174, 132, 174);
    margin: 10PX;
    max-height: 65%;
    min-width: 150px;
}